body {
  background-color: #f5f3fc;
  font-family: "Roboto", sans-serif;
}

a {
  color: #7749d1;
  text-decoration: none;
}

.weather-app {
  background: white;
  max-width: 620px;
  margin: 40px auto;
  box-shadow: 0 25px 45px rgba(65, 50, 100, 0.1);
  border-radius: 18px;
  padding: 32px;
}

header {
  border-bottom: 2px solid #f0eefc;
  padding: 0 0 28px 0;
}

.search-form-input {
  background-color: #f4f1fc;
  border: none;
  border-radius: 8px;
  width: 85%;
  font-size: 17px;
  padding: 14px 22px;
}

.search-form-button {
  background: #7749d1;
  padding: 16px 32px;
  border: none;
  font-size: 17px;
  margin-left: 6px;
  border-radius: 8px;
  color: white;
}

main {
  padding: 35px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.5);
  line-height: 26px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.weather-app-temperature {
  font-size: 90px;
  line-height: 90px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 8px;
  font-size: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.5);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
}

.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 12px;
}

footer {
  border-top: 2px solid #f0eefc;
  padding: 32px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
